html, body{
    height: 100%;
    width: 100%;
}
body { margin: 0;
    background-image: url(pictures/Rectangle1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    background-color: #5E90A7 ;
    top: 0;
    min-height: 70px;
    position: fixed;

}
.image{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;

}
.img {

    //margin-left: 10px;
    width: 100px;
    height: 78px;
}
.text-block {
    padding-top: 20px;
}
.text{
    font-family: 'Grand Hotel', cursive;
    font-size: 3em;
    color: white;
}