html, body{
    height: 100%;
    width: 100%;
}
body { margin: 0;
   background-color: white;

}
.fullheight.jumbotron{
    position: relative;
    background: url("pictures/Rectangle1.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: #5E90A7 ;
    top: 0;
    min-height: 5%;
    position: fixed;
    z-index:1000

}
.image{
    margin: 15px 10px 15px 30px;
    float: left;

}
.img {

    margin-left: 10px;
    width: 100px;
    height: 78px;
}
.text-block, body {
    text-emphasis: none;
    padding-top: 36px;
    float: left;



}
.text{
    text-decoration: none;
    font-family: 'Grand Hotel', cursive;
    font-size: 4rem;
    color: white;
}

.text-block a:hover, .text-block a:focus{
    text-decoration: none;
    color: white;
}
.Text-block1{
    position: absolute;
    bottom: 1.5rem;
    margin-left: 3rem;
}
.Text1{
    font-family: 'Graduate', cursive;
    font-size: 2.5vw;
    -webkit-text-stroke: 2px #6D7280;
    color: #5E90A7;

}
/*.text-block1 {
    padding-top: 25px;
    float: left;
    margin-right: 2%;

}*/



.burger-menu__button {

    position: fixed;

    top: 10px;

    right: 10px;

    z-index: 30;

    width: 80px;

    height: 80px;

    border-radius: 50%;

    background-color: #2a2a2a;

    transition: 0.4s;

}



.burger-menu__button:hover .burger-menu__lines {

    filter: brightness(0.7);

}



.burger-menu__lines,

.burger-menu__lines::after,

.burger-menu__lines::before {

    position: absolute;

    width: 40px;

    height: 6px;

    background-color: #fff;



}



.burger-menu__lines {

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

}



.burger-menu__lines::before {

    content: "";

    top: -12px;

}



.burger-menu__lines::after {

    content: "";

    top: 12px;

}

.burger-menu_active .burger-menu__button,

.burger-menu_active .burger-menu__lines {

    background-color: transparent;

}





.burger-menu_active .burger-menu__lines::before {

    top: 0;

    transform: rotate(45deg);

}



.burger-menu_active .burger-menu__lines::after {

    top: 0;

    transform: rotate(-45deg);

}



.burger-menu__nav {
    padding-top: 80px;

    position: fixed;

    z-index: 20;

    display: flex;

    flex-flow: column;

    height: 100%;

    background-color: #2a2a2a;

    overflow-y: auto;

    right: -1000%;

    transition: 0.5s;

}



.burger-menu_active .burger-menu__nav {

    right: 0;

}



.burger-menu__link {

    padding: 30px;

    font-family: "Nunito Sans", sans-serif;

    font-size: 25px;

    text-decoration: none;

    text-transform: uppercase;

    letter-spacing: 5px;

    font-weight: bold;

    color: white;

}



.burger-menu__link:hover, .burger-menu__link:focus{
    text-decoration: none;

    text-shadow: 0 0 5px rgba(0,0,0,0.8);

    color: white;

    filter: brightness(0.7);


}



.burger-menu__overlay {

    display: none;

    position: fixed;

    top: 0;

    left: 0;

    width: 100vw;

    height: 100vh;

    z-index: 10;

}

.burger-menu_active .burger-menu__overlay {

    display: block;



}

.Text-block2\.0{
    text-emphasis: none;
    position: absolute;
    right: 21.5rem;
    top: 2.5rem;

}
.image1 {
    margin: 50px 10px 15px 70px;
    float: left;

}
.image2 {
    /*margin: 10px 100px 15px 70px;
    float: left;*/
    margin: 500px 10px 15px 70px;

}
.container-fluid img {
    max-width:100%;
    height: auto;
}



.text2\.0{
    font-family: 'Graduate', cursive;
    color: #ffffff;
    -webkit-text-stroke: 1px #5e90a7;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 5.5rem;
}
.container-fluid{
    height: 3000px;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #D2D5D9 28.98%, #329BC8 79.45%, #329BC8 100%);
    background-size: cover;
}
.Text-block2\.1{
    position: absolute;
    top: 15rem;
    right: 20rem;

}
.text2\.1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5.4rem;
    color: #5E90A7;
}
.Text-block3\.0{
    position: absolute;
    top: 10rem;
    left: 5%;


}
.text3\.0{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #FD7C21;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #B11212;

}
.image5{
   margin: 100px 100px 100px 400px;
}
.image6{
    margin-top: 100px;
}
.group1{
    padding-bottom: 7%;
    margin-left: 26%;
}
#map-header{
    padding-bottom: -40px;
}


/*.text1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3.2rem;
    color: white;
}*/
/*.knp1 {
    /*display: inline-block;*/
   /* padding: 5px 15px; /* Поля */
   /* text-decoration: none; /* Убираем подчёркивание */
   /* color: white; /* Цвет текста */
/*}8
.knp1:hover {
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    color: white;
}
/*.text-block2 {
    padding-top: 25px;
    margin-right: 2%;
    float: left;

}*/
/*.text2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3.2rem;
    color: white;
}
.knp2 {
    /*display: inline-block;*/
    /*padding: 5px 15px; /* Поля */
    /*text-decoration: none; /* Убираем подчёркивание */
    /*color: white; /* Цвет текста */
/*}
/*.knp2:hover {
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    color: white;
}
/*.text-block3 {
    padding-top: 25px;
    margin-right: 2%;
    float: left;

}*/
/*.text3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3.2rem;
    color: white;
}
.knp3 {
    /*display: inline-block;*/
   /* padding: 5px 15px; /* Поля */
    /*text-decoration: none; /* Убираем подчёркивание */
    /*color: white; /* Цвет текста */
/*}
.knp3:hover {
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    color: white;
}
/*.text-block4 {
    padding-top: 25px;

}
.text4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3.2rem;
    color: white;
}*/
/*.knp4{
    /*display: inline-block;*/
    /*padding: 5px 15px; /* Поля */
   /* text-decoration: none; /* Убираем подчёркивание */
    /*color: white; /* Цвет текста */
/*}
.knp4:hover {
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    color: white;
}




