html, body{
    height: 100%;
    width: 100%;
}
body { margin: 0;
    background-color: white;
}
.container-fluid{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #D2D5D9 28.98%, #329BC8 79.45%, #329BC8 100%);
    background-size: cover;
}

/*.container-fluid .row{
    margin-left: 0;
    margin-right: 0;
}*/
.container-fluid img{
    max-width: 100%;
    width: auto;
    height: auto;
}
/*.flex{display: -webkit-box;display: -moz-box;display: -ms-flexbox; display: -webkit-flex;display: flex; flex:1 1 auto;}*/
/*--------------------------------------------------MEDIA-------------------------------------------------------------*/
@media(max-width:767px) and (min-width:576px){
.Text1{
    font-size: 5vw;
    -webkit-text-stroke: 0.2rem #6D7280;
    }
    .Text-block3\.0{
        padding-bottom: 30%;
    }
    .burger-menu__lines::before {
        top: -10px;
    }

    .burger-menu__lines::after {
        top: 10px;
    }
    .burger-menu__button{
        width: 55px;
        height: 55px;
    }
    .burger-menu__lines,
    .burger-menu__lines::after,
    .burger-menu__lines::before {
        width: 30px;
        height: 4px;
        border-radius: 2px;
    }
    .image img{
        height: 60px;
        width: auto;
    }
    .text{
        font-size: 3rem;
    }
    .text-block, body {
        padding-top: 26px;
    }
    header{
        height: 70px;
    }
    .image{
        margin: 10px 10px 15px 10px;
    }
    .text2\.0{
        font-size: 5vw;
    }
    .text2\.1{
        font-size: 2vw;
    }
    .image6 img{
        height: 80px;
        width: 80px;
    }
    .image5 img{
        height: 80px;
        width: 80px;
    }
    #b2{
        padding-bottom: 50px;
    }
    .text4\.0{
        font-size: 3vw;
    }
    .text0{
        font-size: 2.5vw;
        -webkit-text-stroke: 2px rgba(0, 0, 0, 0.25);
    }
}


@media (max-width:991px) and (min-width:768px){
.Text1{
    font-size:4vw;
    -webkit-text-stroke: 2px #6D7280;
}
    .Text-block3\.0{
        padding-bottom: 40%;
    }
    .burger-menu__lines::before {
        top: -12px;
    }

    .burger-menu__lines::after {
        top: 12px;
    }
    .burger-menu__button{
        width: 80px;
        height: 80px;
    }
    .burger-menu__lines,
    .burger-menu__lines::after,
    .burger-menu__lines::before {
        width: 40px;
        height: 6px;
        border-radius: 3px;
    }
    .text{
        font-size: 4rem;
    }
    .text-block, body {
        padding-top: 32px;
    }
    header{
        height: 90px;
    }
    .image{
        margin: 10px 10px 15px 30px;}
    .text2\.0{
        font-size: 4.5vw;
    }
    .text2\.1{
        font-size: 2vw;
    }
    .image6 img{
        height: 100px;
        width: 100px;
    }
    .image5 img{
        height: 100px;
        width: 100px;
    }
    #b2{
        padding-bottom: 70px;
    }
    .text4\.0{
        font-size: 2rem;
    }
    .text0{
        -webkit-text-stroke: 2px rgba(0, 0, 0, 0.25);
        font-size: 1.5vw;
    }
}


@media (max-width:1199px) and (min-width:992px){
.Text1{
    font-size: 3vw;
    -webkit-text-stroke: 2px #6D7280;
}
    .Text-block3\.0{
        padding-bottom: 50%;
    }
    .burger-menu__lines::before {
        top: -12px;
    }

    .burger-menu__lines::after {
        top: 12px;
    }
    .burger-menu__button{
        width: 80px;
        height: 80px;
    }
    .burger-menu__lines,
    .burger-menu__lines::after,
    .burger-menu__lines::before {
        width: 40px;
        height: 6px;
        border-radius: 3px;
    }
    .text{
        font-size: 4rem;
    }
    .text-block, body {
        padding-top: 32px;
    }
    header{
        height: 90px;
    }
    .image{
        margin: 10px 10px 15px 30px;}
    .text2\.0{
        font-size: 4vw;
    }
    .text2\.1{
        font-size: 2vw;
    }
    .image6 img{
        height: 100px;
        width: 100px;
    }
    .image5 img{
        height: 100px;
        width: 100px;
    }
    #b2{
        padding-bottom: 100px;
    }
    .text4\.0{
        font-size: 3rem;
    }
    .text0{
        -webkit-text-stroke: 2px rgba(0, 0, 0, 0.25);
        font-size: 1.5vw;
    }
}


@media (min-width:1200px){
    .Text1{
        font-size: 2.5vw;
        -webkit-text-stroke: 2px #6D7280;
    }
    .Text-block3\.0{
        padding-bottom: 15%;
    }
    .burger-menu__lines::before {
        top: -12px;
    }

    .burger-menu__lines::after {
        top: 12px;
    }
    .burger-menu__button{
        width: 80px;
        height: 80px;
    }
    .burger-menu__lines,
    .burger-menu__lines::after,
    .burger-menu__lines::before {
        width: 40px;
        height: 6px;
        border-radius: 3px;
    }
    .text{
        font-size: 4rem;
    }
    .text-block, body {
        padding-top: 32px;
    }
    header{
        height: 90px;
    }
    .image{
        margin: 10px 10px 15px 30px;}
    .text2\.0{
        font-size: 4vw;
    }
    .text2\.1{
        font-size: 2vw;
    }
    .image6 img{
        height: 100px;
        width: 100px;
    }
    .image5 img{
        height: 100px;
        width: 100px;
    }
    #b2{
        padding-bottom: 100px;
    }
    .text4\.0{
        font-size: 3rem;
    }
    .text0{
        -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
        font-size: 1.5vw;
    }
}


@media (max-width:575px){
.Text1{
    font-size: 4.7vw;
    -webkit-text-stroke: 0.1rem #6D7280;
}
    .Text-block3\.0{
        padding-bottom: 8%;
    }
    #bt1{
        position: absolute;
        height: 200px;
    }
    .burger-menu__lines::before {
        top: -10px;
    }

    .burger-menu__lines::after {
        top: 10px;
    }
    .burger-menu__button{
        width: 55px;
        height: 55px;
    }
    .burger-menu__lines,
    .burger-menu__lines::after,
    .burger-menu__lines::before {
        width: 30px;
        height: 4px;
        border-radius: 2px;
    }
    .image img{
        height: 60px;
        width: auto;
    }
    .text{
        font-size: 3rem;
    }
    .text-block, body {
        padding-top: 26px;
    }
    header{
        height: 70px;
    }
    .image{
        margin: 10px 10px 15px 15px;}
    .text2\.0{
        font-size: 5vw;
    }
    .text2\.1{
        font-size: 3vw;
    }
    .image6 img{
        height: 30px;
        width: 30px;
    }
    .image5 img{
        height: 30px;
        width: 30px;
    }
    #b2{
        padding-bottom: 50px;
    }
    .text4\.0{
        font-size: 3vw;
    }
    .text0{
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
        font-size: 2.5vw;
    }

}

/*--------------------------------------------------HEADER------------------------------------------------------------*/

header{
    width: 100%;
    background-color: #5E90A7 ;
    top: 0;
    /*height: 90px;*/
    max-height: 100px;
    position: fixed;
    z-index:1000

}
.image{
    /*margin: 10px 10px 15px 30px;*/
    float: left;
}
.text{
    text-decoration: none;
    font-family: 'Grand Hotel', cursive;
    /*font-size: 4rem;*/
    color: white;
}
.text-block, body {
    text-emphasis: none;
    /*padding-top: 32px;*/
    float: left;
}


.text-block a:hover, .text-block a:focus{
    text-decoration: none;
    color: white;
}
.burger-menu__button {
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 30;
    /*width: 80px;
    height: 80px;*/
    border-radius: 50%;
    background-color: #2a2a2a;
    transition: 0.4s;
}


.burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.7);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    /*width: 40px;
    height: 6px;*/
    background-color: #fff;
}


.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.burger-menu__lines::before {
    content: "";
    /*top: -12px;*/
}

.burger-menu__lines::after {
    content: "";
    /*top: 12px;*/
}

.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu__nav {
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #2a2a2a;
    overflow-y: auto;
    right: -1000%;
    transition: 0.5s;
}

.burger-menu_active .burger-menu__nav {
    right: 0;
}

.burger-menu__link {
    padding: 30px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: bold;
    color: white;
}


.burger-menu__link:hover, .burger-menu__link:focus{
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    color: white;
    filter: brightness(0.7);
}


.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu__overlay {
    display: block;
}

/*---------------------------------------BLOCK1-----------------------------------------------------------------------*/
.fullheight.jumbotron{
    position: relative;
    background: url("pictures/Rectangle1.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Text-block1{
    position: absolute;
    bottom: 1.5rem;
    margin-left: 3rem;
}
.Text1{
    font-family: 'Graduate', cursive;
    /*-webkit-text-stroke: 2px #6D7280;*/
    color: #5E90A7;

}
/*---------------------------------------BLOCK2-----------------------------------------------------------------------*/


.Text-block2\.0{
    text-emphasis: none;
    position: absolute;
    right: 10vw;
    top: 2vw;
}

.image1 {
    margin: 10% 3% 5% 9%;
}
.image2 {
    margin: 10% 3% 5% 9%;

}

/*.container-fluid img {
    max-width:100%;
    height: auto;
}*/

.text2\.0{
    font-family: 'Graduate', cursive;
    color: #ffffff;
    -webkit-text-stroke: 1px #5e90a7;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /*font-size: 4vw;*/
}

.Text-block2\.1{
    position: absolute;
    top: 9vw;
    right: 20vw;


}
.text2\.1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    /*font-size: 2vw;*/
    color: #5E90A7;
}
.text22\.0{
    font-family: 'Graduate', cursive;
    color: #ffffff;
    -webkit-text-stroke: 1px #5e90a7;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /*font-size: 4vw;*/
}

.Text-block22\.1{
    position: absolute;
    top: 9vw;
    right: 20vw;


}
.text22\.1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    /*font-size: 2vw;*/
    color: #5E90A7;
}
.Text-block22\.2{
    position: absolute;
    top: 9vw;
    right: 20vw;


}
.text22\.2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    /*font-size: 2vw;*/
    color: #5E90A7;
}


/*------------------------------------------------------BLOCK3--------------------------------------------------------*/
.Text-block3\.0{
    text-align: center;

}
#bt3-pic{
    padding-top: 2%;
}

.text3\.0{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 2vw;
    text-align: center;
    color: #FD7C21;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #B11212;
}

.image5{
    position: absolute;
    right: 0;
    top: 12%;

}

.image6{
    position: absolute;
    left: 0;
    top: 12%;
}

#img1{
    display: flex;
    margin: auto;
}

.Text-block3\.1{
    text-align: center;
    padding-bottom: 7%;
}

.text3\.1{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    color: #FD7C21;
    -webkit-text-stroke: 1px #B11212;
}

/*---------------------------------------------------BLOCK4-----------------------------------------------------------*/
.fullwidth.jumbotron {
    position: relative;
    background: url("pictures/image3.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.Text-block0{
   text-align: center;
    padding-bottom: 3%;
    padding-top: 4%;

}

.text0 a:hover, .text0 a:focus {
    text-decoration: none;
    color: white;
}
.text0 a{
    color:white;
}
.text0{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    /*font-size: 1.5vw;*/
    text-align: center;
    color: white;
    /*-webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);*/
}
.form-group{
    margin-top: 105%;
}
.text4\.0{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    /*font-size: 3rem;*/
    text-align: center;

    color: #329BC8;
}
